<div class="row m-5">
  <div class="col">
    <h3>Categories</h3>
    <hr>
      <a href='{{url_for('newCategory')}}' class="btn btn-outline-primary btn-sm">
        New Category
      </a>
    <hr>

  </div>
  <div class="col">
    <h3>Products</h3>
    <hr>
      <a href='{{url_for('newProduct')}}' class="btn btn-outline-primary btn-sm">
        New Product
      </a>
    <hr>
    <ul>
      {% for product in products %}
      <li>
        <a href='{{url_for('showProduct',
                  category_name = product.category.name,
                  category_id = product.category.id,
                  product_name = product.name)}}'>
                  {{ product.name }}
                  <span><em>({{ product.category.name }})</em></span>
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

{% endblock %}
