{% extends "main.html" %}
{% block content %}
<div class="row justify-content-md-center m-5">
  <div class="col col-lg-6">
    <div class="row justify-content-md-center m-5">
      <div class="col col-lg-6">
          <h2>Edit Product</h2>
          <hr>
          <form action='{{url_for('newProduct')}}'
                          method = 'POST'>
            <div class="form-group">
              <label for="exampleInputEmail1">{{product.name}}</label>
              <input class="form-control" id="exampleInputEmail1"
                    aria-describedby="emailHelp" name = 'name'
                    placeholder='{{product.name}}'>
            </div>
            <div class="form-group">
              <label for="exampleSelect1">Categories</label>
              <select class="form-control" id="exampleSelect1">
                {% for category in categories %}
                  <option category_id = '{{category.id}}'>{{ category.name }}</option>
                {% endfor %}
              </select>
            </div>
            <button type="submit" value='Edit' class="btn btn-primary">Save</button>
            <a href='{{url_for('showCatalog')}}'
                class="btn btn-secondary">Cancel
            </a>
          </form>
      </div>
    </div>

  </div>
</div>


{% endblock %}
