<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
          crossorigin="anonymous">
		<link rel=stylesheet type=text/css
					href="{{ url_for('static', filename='css/styles.css') }}">
		<link rel=stylesheet type=text/css
					href="{{ url_for('static', filename='css/open-iconic-bootstrap.css') }}">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		{% block head %}
		{% endblock %}
	</head>
	<body>

		<!-- Header -->
		{% include "header.html" %}

		<div id="main-container" class="container-fluid mp-5">

			<!-- Flash messages -->
				<span class="p-2">
					{% with messages = get_flashed_messages() %}
						{% if messages %}
						<div class="alert alert-warning" role="alert">
							<ul class="list-unstyled m-0">
								{% for message in messages %}
								<li class="">{{ message }}</li>
								{% endfor %}
							</ul>
						</div>
						{% endif %}
					{% endwith %}
				</span>

			<!-- Render Main Content -->
      {% block content %}
      {% endblock %}

		</div>

		<!-- Footer -->
		{% include "footer.html" %}

	</body>
</html>
