{% extends "main.html" %}
{% block content %}

<div class="row m-5">
  <div class="col-6">
    <h3>Categories</h3>
    <hr>
      {% if user %}
        <a href='{{url_for('newCategory')}}'
           class="btn btn-outline-primary btn-sm">
           New Category
        </a>
        <hr>
      {% endif %}
    <ul class="list-group">
      {% for category in categories %}
      <li class="list-group-item m-1">
        <a href='{{url_for('showCategory',
                  category_name = category.name,
                  category_id = category.id)}}'>
                  <h4>{{ category.name }}</h4>

        </a>
        <div class="ml-auto">
          <small class="text-muted">
            <em>{{ category.user.email }}</em>
          </small>
        </div>
        {% if user.id == category.user_id %}
          <span class="oi oi-pencil ml-4"></span>
          <div class="d-flex justify-content-end">
            <small class="p-1"><em><a href='{{url_for('editCategory',
                      category_id = category.id)}}'>
                      edit
            </a></em></small>
            <small class="p-1"><em><a href='{{url_for('deleteCategory',
                      category_id = category.id)}}'>
                      delete
            </a></em></small>
          </div>
        {% endif %}

      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="col">
    <h3>Products</h3>
    <hr>
      {% if user %}
        <a href='{{url_for('newProduct')}}'
           class="btn btn-outline-primary btn-sm">
          New Product
        </a>
        <hr>
      {% endif %}

    <ul class="list-group">
      {% for product in products %}
      <li class="list-group-item m-1">
        <a href='{{url_for('showProduct',
                  product_id = product.id,
                  product_name = product.name,
                  category_name = product.category.name,
                  user_id = product.user_id)}}'>
                  <h5>{{ product.name }}</h5>
                  <span><em>({{ product.category.name }})</em></span>
        </a>
        <div class="ml-auto">
          <small class="text-muted">
            <em>{{ product.user.email }}</em>
          </small>
        </div>
        {% if user.id == product.user_id %}
          <span class="oi oi-pencil ml-4"></span>
          <div class="d-flex justify-content-end">
            <small class="p-1"><em><a href='{{url_for('editProduct',
                      product_id = product.id,
                      product_name = product.name,
                      category_name = product.category.name,
                      user_id = user.id)}}'>
                      edit
            </a></em></small>
            <small class="p-1"><em><a href='{{url_for('deleteProduct',
                      product_id = product.id,
                      product_name = product.name,
                      category_name = product.category.name,
                      user_id = product.user_id)}}'>
                      delete
            </a></em></small>
          </div>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

{% endblock %}
