{% extends "main.html" %}
{% block content %}
<div class="row justify-content-md-center m-5">
  <div class="col col-lg-6">
      <h2>New Product</h2>
      <hr>
      <form action='{{url_for('newProduct', user_id = g.user.id )}}'
                      method = 'POST'>
        <div class="form-group">
          <label for="exampleInputEmail1">Name</label>
          <input class="form-control" id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                  placeholder='Add an awesome product'
                  name = 'name'>
        </div>
        <div class="form-group">
          <label for="exampleTextarea">Description</label>
          <textarea class="form-control" id="exampleTextarea" rows="3"
                    placeholder="What's this product for? Why is it rad?"
                    name = 'description'>
          </textarea>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Price</label>
          <input class="form-control" id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                  placeholder='How much?'
                  name = 'price'>
        </div>
        <!-- <div class="form-group">
          <label for="exampleSelect1">Owner</label>
          <select class="form-control" id="exampleSelect1"
                  name = 'user_id'>
            {% for user in users %}
              <option value = '{{user.id}}'
                      {% if user.id == product.user_id %}
                        selected
                      {% endif %}>
                      {{ user.name }}
              </option>
            {% endfor %}
          </select>
        </div> -->
        <div class="form-group">
          <label for="exampleSelect1">Categories</label>
          <select class="form-control" id="exampleSelect1"
                  name = 'category_id'>
            {% for category in categories %}
              <option value = '{{category.id}}'>
                {{ category.name }}
              </option>
            {% endfor %}
          </select>
        </div>
        <button type="submit" value='Edit' class="btn btn-primary">Save</button>
        <a href='{{url_for('showCatalog')}}'
            class="btn btn-secondary">Cancel
        </a>
      </form>
  </div>
</div>

{% endblock %}
